<li class="promotion-code">
  <span class="name"><%= promotion_code.name %></span>
  <%= link_to 'Remove from Cart', cart_promotion_code_path(promotion_code), method: :delete, class: 'remove-code' %>
</li>
