<li class="item">
  <span class="count"><%= carts_item.count %></span>
  <span class="name"><%= carts_item.name %></span>
  <span class="price"><%= carts_item.price %></span>
  <%= link_to 'Remove from Cart', remove_from_cart_item_path(carts_item.item), method: :post, class: 'remove-from-cart' %>
</li>
