<ul><%= render @cart.items  %> </ul>

<ul><%= render @cart.promotion_codes %></ul>

<p>Total: <span class="total"><%= @cart.total %></span><p>

<%= form_for Order.new do |f|%>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :credit_card %>
  <%= f.text_field :credit_card %>

  <%= f.label :cart_update_time %>
  <%= f.hidden_field :cart_version, value: @cart.updated_at  %>

  <%= f.submit %>
<% end %>

<%= link_to 'Return to cart', cart_path, class: 'return-to-cart' %>
