<ul><%= render @order.orders_items  %> </ul>

<ul><%= render partial: 'promotion_codes/order_promotion_code', collection: @order.promotion_codes, as: :code %></ul>

<p>Total: <span class="total"><%= @order.total %></span><p>
<%= link_to 'Return to Shop', items_path, class: 'return-to-shop' %>
