<ul><%= render @cart.carts_items  %> </ul>

<h2>Total: <span class="total"><%= @cart.total %></span></h2>

<%= render 'promotion_codes/form' %>

<ul class="promotion-codes"><%= render @cart.promotion_codes %></ul>

<%= link_to 'Return to shop', items_path, class: 'return-to-shop' %>
<%= link_to 'Checkout', new_order_path, class: 'checkout' %>

