<li class="item">
  <span class="name"><%= item.name %></span>
  <span class="price"><%= item.price %></span>
  <%= link_to 'Remove from Cart', remove_from_cart_item_path(item), method: :post, class: 'remove-from-cart' %>
