<ul>
  <% @items.each do |item| %>
    <li class="item">
      <span class="name"><%= item.name %></span>
      <span class="price"><%= item.price %></span>
      <%= link_to 'Add to Cart', add_to_cart_item_path(item), method: :post, class: 'add-to-cart' %>
    </li>
  <% end %>
</ul>
